nav > a:nth-child(1) {
	font-weight: 400;
	color: rgba(0, 0, 0, 0.7);
}

nav > a:nth-child(2) {
	font-weight: 400;
	color: rgba(0, 0, 0, 0.7);
}

nav > a:nth-child(3) {
	font-weight: 700;
	color: rgba(106, 79, 222);
}

#first {
	display: flex;
	align-items: center;
	height: 90vh;
	justify-content: center;
}

#first > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 45px;
}

#first > div > a {
	text-decoration: none;
}